.col-md-12,
.col-md-4,
.col-md-6{
	border:solid 0px blue;
	min-height: 60px;
}
.nav-item{
    text-align: center;
    font-size: 20px;
  }
  
.navbar-toggler-icon{
    display: block;
}

.navbar {
    padding: .6rem 1rem;
    
}

.profile-icon {
    margin-left: 20px;
    width: 40px;  /* Example size */
    height: 40px; /* Example size */
    background-image: url('https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png'); /* Example color */
    border-radius: 50%; /* Makes it circular */
}

/* .nav-profile {
    display: flex;
    align-items: center;
    margin-left: auto; 
/* } */ */ 

#head{
  z-index: 2000;
  position:fixed;
}


.carousel-inner img{
	width: 400px;
	height: 600px;

}


 .card img{
 	width:285px;
 	height:200px;
 }

 .navbar-brand{
 	font-size: 40px;
 }


 h5{
 	text-align: center;
 }

.col-md-12 h1{
	margin:30px;
}
 .about{
 	/* text-indent:10px; */
 	font-size: 19px;
 	margin: 50px;
 } 

.bi-meta,.bi-instagram,.bi-linkedin,.bi-tiktok{
   margin: 20px;
}

/*Apply this noPadding class behind the name of a class*/
.noPadding{
	padding: 0px;
}

footer{
	background:black;
	color: white;
	height: auto;
}

.mb-3{
	padding:25px;
}


.col-md-6 h3{
	margin: 20px;
}

.col-md-4 .card{
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}

.highlight {
    background-color: rgb(255, 200, 0);
}
