.col-md-12,
.col-md-4,
.col-md-6{
	border:solid 0px black;
	min-height: 60px;
}

/*
#head{
  z-index: 1000;
  position:fixed;

}
*/

button {
  background-color: yellow;

  font-weight: bold;
  font-size: 18px;
}

.accordion-body{
   text-indent: 20px;
   text-align: center;
}

/*Apply this noPadding class behind the name of a class*/
.noPadding{
	padding: 0px;
}
