.col-md-12,
.col-md-4,
.col-md-6{
	border:solid 0px black;
	min-height: 60px;
}


#head{
  z-index: 1000;
  position:fixed;

}

.carousel-inner img{
	width: 400px;
	height: 600px;

}


 .card img{
 	width:285px;
 	height:200px;
 }

 .navbar-brand{
 	font-size: 40px;
 }


 h5{
 	text-align: center;
 }

.col-md-12 h1{
	margin:30px;
}
 .about{
 	text-indent:20px;
 	font-size: 19px;
 	margin: 30px;
 } 

.bi-meta,.bi-instagram,.bi-linkedin,.bi-tiktok{
   margin: 20px;
}

/*Apply this noPadding class behind the name of a class*/
.noPadding{
	padding: 0px;
}

footer{
	background:black;
	color: white;
	height: auto;
}

.mb-3{
	padding:25px;
}


.col-md-6 h3{
	margin: 20px;
}

.col-md-4 .card{
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}


#show{
	text-align: center !important;
	font-size:20px !important;
	color: brown !important;
	display: flex !important;
	justify-content: space-around !important;
} 

#clickme{
	margin-left: 100px;
}


/* Styles for contact.html */
#contactForm {
    background-color: #ffffff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
}

label {
    color: #555;
    font-weight: bold;
    display: block;
    margin-bottom: 6px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}

textarea {
    resize: vertical;
}

#submitForm {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

#submitForm:hover {
    background-color: #0056b3;
}

#resetForm {
    background-color: green;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;
}

#resetForm:hover {
    background-color: darkgreen;
}

.form-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

